[2018-07-08 04:57] SpamapS opened #4 "Code has no license"
Hi! I am researching using uptimerobot with terraform, but you haven't placed any evidence that your code has an open source or free license. As a result, I can't even look at the code to look for license headers without tainting myself if I wanted to write my own provider and open source it.

I recommend that you choose a license that suits your intentions so that others can re-use your code.

ht

[2018-07-31 15:47] louy commented on #4
Thanks for pointing this out!

Fixed in c98ad2c (using same license as [terraform-provider-aws](https://github.com/terraform-providers/terraform-provider-aws))

[2018-07-31 15:47] #4 closed

[2018-08-26 14:23] drubin opened #9 "Please include binary releases"
It would be great to include binary releases under the GitHub releases.

I see there is https://github.com/hashicorp/terraform/issues/18167

But I think uptimerobot needs to officially support this for it to be an official provider?
https://www.terraform.io/guides/terraform-provider-development-program.html

I see there is currently a failing job on
https://github.com/louy/terraform-provider-uptim

[2018-08-26 14:32] drubin opened #11 "Updating `url` should not use "ForceNew""
The API supports updating a URL, so it would be great to support this in terraform instead of forcing a recreation of the monitor.

https://github.com/louy/terraform-provider-uptimerobot/blob/master/uptimerobot/resource_uptimerobot_monitor.go#L30

Is it as simple as removing this?

[2018-08-26 20:35] louy commented on #11
I think it could be that simple, although it'd need testing since the documentation wasn't always reliable

[2018-08-26 20:42] louy commented on #9
Yeah I'd love to have that but I haven't really figured out how to get the binary to be built and uploaded to github automatically. Any help would be much appreciated. I'm just finding it difficult to find the time to do it

[2018-08-27 10:32] drubin commented on #9
I managed to get it working locally by including `GITHUB_TOKEN` as an ENV variable

https://goreleaser.com/quick-start/

https://github.com/drubin/terraform-provider-uptimerobot/releases/tag/v0.1.1

I can fiddle a bit more on the `.circleci` configuration, but I just wanted to confirm you tried this? I think

[2018-08-27 12:35] louy commented on #11
Fixed in #12

[2018-08-27 12:35] #11 closed

[2018-08-27 12:46] louy commented on #9
The issue was more the fact that circleci doesn't build branches by default, which is now fixed in #13. Artifacts are being uploaded to github automatically now. Thanks a lot for your help though! :)

[2018-08-27 12:46] #9 closed

[2018-08-27 12:47] drubin commented on #9
@louy Pleasure thanks for starting this!  I been wanting to do this for some time now. Lucky I found your project to contribute to.

[2018-08-27 12:48] louy commented on #9
Thanks a lot for contributing, and glad you found it useful ☺️

[2018-09-10 15:17] drubin opened #14 "Support custom threshold and recurrence on the API level"
Currently, the scheme supports passing a custom threshold and recurrence information for each notification. It just doesn't seem to propagate it in the API requests.

The [following code](https://github.com/louy/terraform-provider-uptimerobot/blob/master/uptimerobot/api/monitor.go#L161-L165) Seems to be missing the information like the official doc.

https://uptimerobot.com/api#newMonitorWrap
[cod

[2018-09-10 17:06] drubin commented on #14
I am working on a fix will submit a PR tomorrow if I manage to get it working.

[2019-02-06 08:19] nlamirault opened #15 "Error with adding email contact"
I try to add my email as a contact using the provider (It works with the UI). I've got this error :

[code]

Any idea ?

[2019-02-06 08:44] nlamirault opened #16 "Example with Port. An error with my test"
could you provides an example using port monitoring ?
I try :

[code]

[code]

I've got this error :

[code]

[2019-02-18 12:26] aequitas commented on #15
I got the same problem. And also a similar problem with the monitor resource type ping:
[code]

[2019-02-18 16:39] aequitas commented on #15
My bad, the ping resource was my not specifying the right type for the monitor (http instead of ping).

[2019-02-18 16:56] aequitas commented on #15
The account email address is added by default as a contact. So my assumption is the API disallows to add duplicate. I don't think this is an issue with this plugin.

[2019-02-21 19:57] drubin commented on #14
Sorry, I totally forgot about this will try to get to it in the next week or so.

[2019-02-21 21:32] louy commented on #15
Good shout @aequitas. I'll see if I get a chance to implement that but feel free to contribute

[2019-02-21 21:37] louy commented on #16
This looks like a bug. Sadly there's no test for the port option for some reason so I'll add one when I get a chance.

The issue is that [port is defined as a String](https://github.com/louy/terraform-provider-uptimerobot/blob/3cf611e/uptimerobot/resource_uptimerobot_monitor.go#L44) whereas it should've been an Int in the TF provider

I'll fix this. Thanks for reporting

[2019-02-21 21:52] louy commented on #16
Once #17 is merged your code should work just fine :)

[2019-02-21 21:58] #16 closed

[2019-03-10 21:55] drubin commented on #14
Sorry for leaving this off for a bit See #18

[2019-03-15 15:09] louy commented on #14
Closed in #18. Thanks @drubin :)

[2019-03-15 15:09] #14 closed

[2019-03-15 15:10] drubin commented on #14
@louy pleasure! thanks for reviewing it.

[2019-03-30 14:57] leeif commented on #15
I have the same problem when I want to use the default account email as an alert contact.
Here is a solution I consider:

- Writing an alert contact resource of default account email

- Importing it into terraform state file
[code]
However the id of the default account email seems like 0xxxx, there is a need to change the type of id to string in the alert contact resource.
https://github.com/louy/

[2019-03-30 17:37] aequitas commented on #15
I got some work on this already not finished yet though. I'll try to wrap it up and get a pr out beginning of next week.

[2019-03-30 18:03] louy commented on #15
I think adding a data source for alert contacts would be a nice and clean approach to solving this, but I need to verify that it’s doable using the api

I’ve not seen the 0xxxx ids but I don’t see a reason why ids shouldn’t be changed to strings (Ints are probably bad anyway) so feel free to send a PR

[2019-03-30 18:17] aequitas commented on #15
https://github.com/louy/terraform-provider-uptimerobot/pull/21

[2019-04-01 11:17] drubin opened #22 "Allow pagination in API call"
Currently, we don't handle pagination at all as the alerts and alert contacts grow this could start failing silently.

[2019-04-01 15:48] tcarrondo opened #23 "uptimerobot_alert_contact isn't outputting id"
The resource **uptimerobot_alert_contact**  isn't outputting **id**.

[2019-04-01 17:11] tcarrondo commented on #23
this makes impossible to:

`
alert_contact {
    id = "${resource.uptimerobot_alert_contact.slack.id}"
    # threshold  = 0  # pro only
    # recurrence = 0  # pro only
  }
`

[2019-04-05 07:53] drubin commented on #23
You should not have `resource.` in your example.  It should be `"${uptimerobot_alert_contact.slack.id}"`

Here is a fill example we use in our tests
From https://github.com/louy/terraform-provider-uptimerobot/blob/master/uptimerobot/resource_uptimerobot_monitor_test.go#L130-L144

[code]

[2019-04-05 15:05] tcarrondo commented on #23
@drubin can you, please, link me, in the code, the output `id` of the resource `uptimerobot_alert_contact`?

[2019-04-05 15:07] tcarrondo commented on #23
I got it!
you should remove `resource.` from the documentation

[2019-04-05 15:09] tcarrondo commented on #23
My bad! thanks for the hint!

[2019-04-05 15:09] #23 closed

[2019-04-05 15:11] drubin commented on #23
@tcarrondo Thought I fixed this ages ago...  I noticed it a while ago.

Here is a PR fixing the issue. Hopefully it will help others.

https://github.com/louy/terraform-provider-uptimerobot/pull/24

[2019-05-23 20:50] louy commented on #15
Fixed in #21

[2019-05-23 20:50] #15 closed

[2019-05-23 20:51] louy commented on #22
Fixed in #21 (Although with a limit of 10 pages for now)

[2019-05-23 20:51] #22 closed

[2019-05-24 14:09] nlamirault opened #29 "Error on the "uptimerobot_alert_contact" data"
Hi,
i would try the new data/resources "alert_contact", but i've got some errors :

[code]

Install the provider :

[code]

Terraform actions :

[code]

With this code :

[code]

Any idea ?

[2019-05-24 15:03] drubin commented on #29
Hi @nlamirault https://github.com/louy/terraform-provider-uptimerobot/pull/21 this was only merged 18 hours ago and hasn't been published as a release yet.

You can check out the master branch and compile it your self and then your instructions should work.

Hope this helps and that @louy will publish a release soon.

[2019-05-24 15:35] nlamirault commented on #29
Hi @drubin i sw that. But i've build the master branch before my test.

[code]

[2019-06-03 14:44] caarlos0 opened #30 "thank you!"
This is pretty cool, just wanted to thank you for your work! 🤟

[2019-06-03 14:45] caarlos0 commented on #29
I just built from master here and it works...

[2019-06-08 12:10] tlvince opened #31 "terraform 0.12 support"
Running this provider with terraform v0.12.1 throws the following:

[code]

Could we get [0.12 compatibility](https://www.terraform.io/docs/extend/terraform-0.12-compatibility.html)?

[2019-07-08 19:57] louy commented on #30
Thanks a lot for this gesture. I really appreciate it :)

[2019-07-08 19:57] #30 closed

[2019-07-12 09:42] bpjbauch opened #34 "Threshold not comming through."
Hi,
Maybe I'm doing it wrong, but I can't get the threshold to work via terraform.
I'm on a pro plan and can set the threshold and recurrence via the web frontend, but when I set them in the .tf file it does not come through.
I'm using the provider built from the master branch.

[code]

[2019-07-12 09:45] drubin commented on #34
Heya @bpjbauch
Is this a new `alert_contact` or old? I think there was an issue about updating existing alert contact's `threshold ` or `recurrence` values.

I added this feature and it seems to be working pretty well for *new* monitors / alert_contact  so just trying to figure out if the editing part might be broken?

[2019-07-12 09:52] bpjbauch commented on #34
Ah thanks, this explains a lot.
Yes it is an old `alert_contact`. We are testing the PagerDuty integration, which is not public yet and had to bei provided by the UptimeRobots them self, so I can't re-create this.

[2019-07-28 14:40] Novex opened #35 "Support for maintenance windows"
I was just wondering whether support to set maintenance windows on the monitors was something that could be added to this module?

If so, I'm happy to attempt it. Though any tips would be appreciated!

[2019-08-20 12:26] louy commented on #4
@all-contributors please add @SpamapS for bug

[2019-08-20 12:27] louy commented on #9
@all-contributors please add @drubin for ideas

[2019-08-20 12:30] louy commented on #16
@all-contributors please add @nlamirault for bug

[2019-08-20 12:31] louy commented on #23
@all-contributors please add @drubin for answering questions

[2019-08-20 12:31] louy commented on #23
@all-contributors please add @tcarrondo for bug report

[2019-08-20 12:34] louy commented on #35
It's not something i've used nor needed (I'm a fan of no downtime deployments 😁), but feel free to add it

[2019-08-20 12:37] louy commented on #34
sadly with UR's api there's on way to import alert contacts, which is why this will break for you.
what you can do is manually change your TF state file to add these values in, but other than that we can't really do anything

another thing you might want to try is adding support for PD as an alert contact since you're building from master anyway, and it might make things easier for you

[2019-08-20 12:37] #34 closed

[2019-08-20 12:38] louy commented on #34
@all-contributors please add @bpjbauch for bug report

[2019-08-20 15:57] drubin opened #57 "Become an official provider"
There is already an upstream issue https://github.com/hashicorp/terraform/issues/18167

But I thought it would be nice to be able to track the progress here and easily too.

@louy have you investigated any further about contacting uptimerobot about adopting this https://www.terraform.io/guides/terraform-provider-development-program.html

I think it's one of the requirements to be an official plugi

[2019-10-03 15:37] bd0zer opened #61 "hide_url_links not implemented"
Looks like you haven't yet implemented the hide_url_links for the uptimerobot_status_page resource, yet it's in your example on the README.md.  Not a big issue, but was confusing.

Otherwise, thanks for provider implementation, I look forward to it getting listed in the tf provider repo.

[2019-10-04 15:26] #31 closed

[2019-10-04 16:00] louy commented on #57
Sorry couldn't reply to this earlier. Yeah defo please do

As you might know I've tried to get this provider listed as a community provider on terraform's website but I've not had much luck with that

https://github.com/hashicorp/terraform/issues/18167

[2019-10-04 16:02] louy commented on #61
You're right sorry. Removed in a93aad1

[2019-10-04 16:02] #61 closed

[2019-10-04 16:03] louy commented on #29
Hi guys. I know it's been a while. Is this still an issue or can we close it?

[2019-10-04 16:33] caarlos0 commented on #29
@louy I'm using a build from master and it was working fine...

[2019-10-04 21:06] louy commented on #29
I'll close this issue then. Feel free to file a new one if you face this problem again!

[2019-10-04 21:06] #29 closed

[2019-10-06 12:30] drubin commented on #57
@louy Cool I will try to take it further with uptimerobot and hashicorp and see what we can do.

[2019-10-15 17:17] Luzifer opened #65 "Support monitor type "heartbeat":"
Uptimerobot introduced a new monitor type "heartbeat" (currently in beta) which is not currently supported by the provider:

![image](https://user-images.githubusercontent.com/20142/66853657-19d8c600-ef80-11e9-9b94-f1996b29ef30.png)

[code]

[2019-10-17 22:27] louy commented on #65
Do you have a link to the docs where they mention this by any chance?

[2019-10-18 08:56] Luzifer commented on #65
Sadly it isn't yet mentioned in the API docs. Probably because it's still in beta…

[2020-03-15 22:57] djakielskiadesso opened #68 "Net/http: TLS handshake timeout"
Most of the time, i got a few error messages with TLS handshake timeout like this

[code]

Some time it works correcty. But most of the time it dosen't. When i try to call a request against the api, i got successfull responses.

My environment:
- Mac OS
- Terraform v0.12.23
- Uptimerobot Provider latest release

Do you have any idea, why this could happend?

[2020-03-17 10:50] drubin commented on #68
`Error: dial tcp :0: connect: can't assign requested address` this seems like a DNS issue.

Does this happen all the time or only sometimes?

[2020-03-17 10:54] djakielskiadesso commented on #68
It does most of the time. I also thought to dns, but when i tried it with curl, i got an response.

[2020-03-17 17:08] drubin commented on #68
we are using it pretty extensively and we don't come up with this error, maybe its related to ipv6?

[2020-03-18 20:43] djakielskiadesso commented on #68
Same code, same remote state, execute on windows 10 works very well. I try get more information with the debug mode, but the only message i got was

Post https://api.uptimerobot.com/v2/getAlertContacts: net/http: TLS handshake timeout

[2020-04-23 11:35] collingo opened #69 "Any plans to support `custom_http_statuses`?"
It looks like it is supported by the UR api and would be might useful to save having to manually update the accepted statuses after the tf has run.

[2020-04-28 09:35] dR3b commented on #57
Any progress?

[2020-04-28 10:45] drubin commented on #57
I think we should wait for Terraform 0.13 as it has some features for referencing 3rd party providers.

https://github.com/hashicorp/terraform/blob/master/CHANGELOG.md

The only way for this to be considered an official provider is to have uptimerobot own it which I don't see happening...

[2020-05-06 17:52] innovate-invent opened #70 "Pause monitor"
UptimeRobot supports pausing monitors by setting `status=0` for the monitor.

Please add a status value to uptimerobot_monitor.

[2020-06-04 11:42] augustgerro opened #71 "Basic Auth missing parameter"
I'm trying setup monitoring for pages with basic authentication, but receive the error from Uptimerobot's API:
[code]

[code]
I can't just add parameter `http_auth_type` to the resource, it return error:
[code]

It looks like you need to add an additional parameter to the API call.

[2020-06-10 08:53] augustgerro commented on #71
I also try to create new monitoring with terraform, secrets passed manually with UI, and add lifecycle management with to ignore changes:
[code]
This doesn't work either. Terraform still want rewrite http_password and http_username.

[2020-06-16 12:52] louy commented on #68
Seems like an issue with your network from the looks of it. Has it been resolved?

If not, can you try running a curl against the same url a few times and see if you get the same error?

[2020-08-15 16:28] epicserve opened #73 "Add install instructions"
It's not obvious how you install this 3rd party providor. Can you add some instructions in the README?

[2020-08-15 18:09] epicserve commented on #73
The following seems to work, but was a lot of trouble trying to figure out.

## Installing

[code]

## Adding the provider

Add the following where your configure your providers:
[code]

[2020-08-15 18:55] epicserve commented on #73
I was then able to import existing monitors using the uptime robot API method `getMonitors` to get the id.

[code]

I used the following config with exact information redacted.

[code]

[2020-08-18 17:31] FlxPeters commented on #73
With Terraform 0.13 is't possible to publish a community provider to the Terraform Registry: https://www.terraform.io/docs/registry/providers/publishing.html

The installation of the provider than is much easier. The registration must be done by the repository owner.
Is that what you're gonna do?

[2020-08-18 18:24] epicserve commented on #73
@FlxPeters, that sounds like a great solution to me.

cc: @louy

[2020-08-18 18:34] louy commented on #73
I'll take a look at the registry thing. Thanks for recommending

As for now, you can grab the compiled binary from the releases page (no need to build from source) and you should be able to place it in the plugins folder like you did. It's a tiny bit easier but not that much i get it

Hopefully will get it registered by the end of this week

[2020-08-18 18:45] epicserve commented on #73
@louy,

Sounds good! If you don't add it to the registry it might be helpful at least to include installation instructions in the README.

[2020-08-19 10:09] jasonrogena opened #74 "Request for http_auth_type When http_username and http_password Provided"
When I provide the `http_username` and `http_password` fields in a monitor resource, Terraform errors with:

[code]

I used the [monitor docs](https://github.com/louy/terraform-provider-uptimerobot/blob/master/website/docs/r/monitor.html.markdown). Is this a known issue?

[2020-08-19 10:22] jasonrogena commented on #74
Seems to be a duplicate of https://github.com/louy/terraform-provider-uptimerobot/issues/71 . Closing this one.

[2020-08-19 10:22] #74 closed

[2020-08-24 20:00] innovate-invent commented on #57
With terraform 0.13 released, is there any work being done on this?

[2020-09-03 15:52] innovate-invent opened #76 "Special characters in friendly name cause modification on every apply"
For example:
[code]

results in

[code]

on every apply

[2020-09-04 16:29] drubin commented on #76
This is sadly expetect behaviour and the uptime robot Api is doing this ( which is kinda bad)

You can fix this by changing your monitor name to not use the special chars or to just encode them as the Api returns them.

This should be documented though...

[2020-09-04 17:53] innovate-invent commented on #76
Wouldn't it be appropriate for the provider to handle the necessary encoding between human readable and what the API requires?

[2020-09-04 17:56] drubin commented on #76
I wouldn't think so because this is a not how core Terraform works it's also not documented how to unencode/encode or how to handle it.

This is how gpc and aws plugins work too when things get in

[2020-09-05 23:52] louy commented on #76
This is obviously bad api behaviour, but I wonder whether calling [html#UnescapeString](https://golang.org/pkg/html/#UnescapeString) on that field when fetching would fix this and make the UX a bit nicer. Should be easy to test and hopefully wouldn't introduce any unexpected issues.

[2020-09-06 01:23] #71 closed

[2020-09-06 04:22] louy commented on #73
Added here: https://registry.terraform.io/providers/louy/uptimerobot/latest

[2020-09-06 04:24] #73 closed

[2020-09-06 17:07] rayrutjes opened #80 "Cannot install with Terraform 0.13"
Using the following configuration with Terraform 0.13:

[code]

Getting the following error:

[code]

I followed the official site recommendations:
![image](https://user-images.githubusercontent.com/5570853/92331066-0fca2500-f074-11ea-8a03-e3e5781f306f.png)

[2020-09-06 19:50] louy commented on #80
damn it sorry should've tested this properly. I'll take a look

[2020-09-14 13:58] Kissy commented on #80
It seems that the issue comes from the new signature in terraform v0.13.
https://www.terraform.io/docs/plugins/signing.html

[2020-09-15 07:56] Elindorath commented on #80
@Kissy Where do you find the executable?

[2020-09-15 14:54] collingo commented on #80
Has there been any progress on this one? I am getting the following when trying to `init` with tf `v0.13.2`. Slightly different message this time but might be related...
[code]

PS @Elindorath in case you haven't heard from Kissy yet, you can download the binary from the release page - https://github.com/louy/terraform-provider-uptimerobot/releases/tag/v0.5.0

[2020-09-16 09:53] augustgerro opened #82 "Error: Monitor not found: �"
I used to run the code and everything worked, now I'm running the plan and I get an unclear error:

Run
[code]

Output log
[code]

[2020-09-16 13:28] ray-jam commented on #82
I've seen this when monitors are deleted from outside of terraform (web portal). Provider code should handle it but looks like it needs a little bit of work but haven't had time to set up the source and debug.

Quick fix is to remove the resources in question from your statefile:
    terraform state rm <resource-path>

The error message doesn't identify the resource unfortunately so you either kno

[2020-09-16 14:23] augustgerro commented on #82
@ray-jam thank you!

But for me is not clear which resource is out of state. I guess, instead of � should be resource name

[2020-09-17 13:55] louy commented on #80
As @collingo mentioned this seems to be an issue with terraform itself. You can find more details here: https://github.com/hashicorp/terraform/issues/26282

Issue fixed in v0.5.1

[2020-09-17 13:55] #80 closed

[2020-09-17 14:00] louy commented on #82
Most terraform providers would fail in the same way. Agreed messaging could be improved (seems like that’s a bug itself), but getting an error when a resource is deleted outside of terraform is expected behaviour (I don’t think it’s even possible for a provider to delete its own state when an error like this happens) to protect users from irreversible consequences when network/server-side issues h

[2020-09-17 15:01] ray-jam commented on #82
Couldn't find it to start with but check this part of the docs:
  https://www.terraform.io/docs/plugins/provider.html#read

What it says is: _If the resource is no longer present, calling SetId with an empty string will signal its removal._

I use AWS/Azure providers frequently and if someone has gone off script and deleted resources through the portal the subsequent `terraform plan` will just tel

[2020-09-17 18:15] louy commented on #82
Ah makes sense. Wasn’t aware of this. Prob won’t have time to implement but if anyone else wants to send a PR I’ll happily merge

[2020-09-18 00:53] louy commented on #57
Since we're now live on the terraform registry, I don't think this is needed anymore? @drubin wdyt?

[2020-09-20 09:21] invidian opened #84 "Upgrade to Terraform SDK v2"
To keep provider up-to-date, it would be nice to update to new version of SDK: https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html

[2020-09-20 10:08] invidian opened #85 "alert_contacts could be sorted before comparison"
It seems if `alert_contact` are specified in some order, Terraform will be constantly producing plan with pending changes. It would be nice to sort them, so that doesn't happen.

[2020-10-20 16:00] zoltan-patchworks opened #88 "Please support `custom_http_headers`"
Please support `custom_http_headers`.

[2020-10-23 09:21] kokarn commented on #82
Encountered the same issue sadly, so anybody working on a PR would be much appreciated 👍

[2020-10-27 08:52] evansmurithi opened #91 "Support data source for monitors"
Add data source for monitors. Allow fetching monitor information defined outside of Terraform.

[2020-11-28 10:18] maxdelorme opened #95 "Support Teams uptimerobot_alert_contact type"
Currently the uptimerobot_alert_contact can not be from type Teams
when getting it with a data resource the type is ""

[2021-01-21 19:29] innovate-invent opened #99 "Update to UptimeRobot API V2"
UptimeRobot has released version 2 of its API and is now sending depreciation notices when accessing version 1.

[2021-01-25 15:27] arthar360 commented on #65
This enhancement will be very helpful. @louy Here is the documentation for it https://uptimerobot.com/api/ And this feature is now stable as well.

[2021-01-25 17:57] #85 closed

[2021-02-23 01:28] bbigras opened #101 "Does uptimerobot_alert_contact support a payload for the webhook?"
I would like to use the webhook with discord, but I'm not sure if I can send a payload.

[2021-02-23 02:12] bbigras opened #102 "panic: interface conversion: interface {} is nil, not float64"
Possibly because I have a webhook alert with a json payload that I set on the website.

[code]

[2021-03-04 11:40] TrueTechy opened #103 "Version 0.5.2 Release"
Hi there, I was looking to see if there's a planned release coming. I recently started using the provider and it's been great, had to compile from master to get that last commit about contact sorting but getting it to play nicely with terraform across OSes is not fun.

Thanks for all the great work you guys are doing here

[2021-03-30 11:13] thevops opened #104 "The argument "api_key" is required, but was not set."
There is comment that UPTIMEROBOT_API_KEY can be set by environment variable
[code]
but in that case `terraform validate` raises error:
[code]

[2021-04-29 12:55] matteodepalo commented on #103
I'm in the same boat, stuck with the old version and with my runs on Terraform Cloud full of unrelated changes. I couldn't find an easy way to use a provider from GitHub unfortunately. @TrueTechy did you publish your own provider?

[2021-04-30 16:40] TrueTechy commented on #103
I built the provider locally and just used that one instead, never published it though. I'm not sure if that's an option for you using terraform cloud

[2021-05-12 01:01] robcxyz commented on #91
Any chance this gets merged?  Would be really helpful for collecting monitors for aggregated status pages.

[2021-05-27 07:46] chb-ioki commented on #99
Hi! I think the client [already uses v2](https://github.com/louy/terraform-provider-uptimerobot/blob/master/uptimerobot/api/client.go#L27)?

[2021-05-27 17:16] #99 closed

[2021-07-23 21:58] innovate-invent opened #105 "Error: Got error from UptimeRobot: {"message":"Alert Contact(id: 2968354) not found.","type":"not_found"}"
If a contact is created with terraform and deleted using the UTR web portal, terraform will fail on the next apply. The provider should ignore this error so that the resource is recreated.

[2021-07-29 09:26] victorgetz opened #106 "429 Too Many Requests Rate limit exceeded, retry in 6 seconds"
Since yesterday we have some issues.

Existing configurations now show "Got error from UptimeRobot: null"
In Debug Mode we see this: "429 Too Many Requests Rate limit exceeded, retry in 6 seconds"

My Guess is that Uptimerobot included a rate limit.

Any Idea how to solve that? Make the intervall smaller and add retry?

[2021-07-30 08:37] MujahidRashid commented on #106
@victorgetz
i am getting the same error as well, how do you enable debug mode ?
i tried with export TF_LOG=trace, but i do not see the "too many request" error

[2021-07-30 08:45] nano3k0a commented on #106
TF_LOG=DEBUG

[2021-07-30 12:30] mattmessinger opened #107 "add pagerduty uptimerobot_alert_contact type"
Please add pagerduty as an available contact type for the uptimerobot_alert_contact resource.

Thanks!

[2021-07-30 16:30] dlecan commented on #106
Same error for me!
I think this is an issue with the Uptimerobot API

[code]

I will contact Uptimerobot support

[2021-08-02 09:08] dlecan commented on #106
Uptimerobot answer :sob:
Uptimerobot becomes useless if the quotas are not increased

![image](https://user-images.githubusercontent.com/586631/127835383-c23780f6-bafe-4f62-9583-aeed738240d9.png)

[2021-08-02 09:23] dlecan commented on #106
And the issue is exaggerated by #85, unreleased ...

[2021-08-02 09:25] dlecan commented on #103
@louy any chance to see a new release soon? Do you need help?

[2021-08-03 05:45] kevinburke1 commented on #103
I looked at creating a fork and releasing that, unfortunately it's not just as easy as updating the username in the "required_providers" list, apparently.

[code]

[2021-08-03 21:22] invidian commented on #106
I think it shouldn't be too hard to implement a retry on 429 for this provider, though 10 requests per _minute_ seems like a serious limitation, which will increase Terraform execution time a lot... Maybe some client-side magic could be done to improve that though.

[2021-08-04 09:14] dlecan commented on #106
Some hope

![image](https://user-images.githubusercontent.com/586631/128155478-aeeb3731-6c33-4e29-98a4-8e20e436c03a.png)

[2021-08-10 08:25] clovnrian commented on #106
Hello guys, this is Mirek from UptimeRobot. We just increased the API rate limits for PRO users twice, which should be enough  to use this plugin again.

Rate limits for FREE users are still the same (10 req/m)

[2021-08-10 13:45] debunn commented on #107
FYI - this appears to be a limitation of the UptimeRobot service's API, as they don't allow you to create PagerDuty AlertContact types (https://uptimerobot.com/api/):
`
alertcontact>type | 1 - SMS2 - E-mail3 - Twitter DM4 - Boxcar5 - Web-Hook6 - Pushbullet7 - Zapier9 - Pushover10 - HipChat11 - Slack | the type of the alert contact notified (Zapier, HipChat and Slack are not supported in the newAle

[2021-08-10 14:22] invidian commented on #106
It seems with combination with https://github.com/stakater/IngressMonitorController, iteracting with UptimeRobot API is now barely usable :disappointed:

[2021-08-11 08:24] invidian commented on #106
Not very production quality but I wrote a patch, which makes provider very slow when you're close to API limit, but usable: https://github.com/louy/terraform-provider-uptimerobot/compare/master...invidian:invidian/retry-on-rate-limit?expand=1

[2021-08-12 18:37] gmile commented on #103
From our side, there's interest in having the new code released too. We're particularly interested in having ability to specify Telegram https://github.com/louy/terraform-provider-uptimerobot/pull/94 as a contact, since SMS is currently out of reach https://github.com/louy/terraform-provider-uptimerobot/pull/98

[2021-08-16 09:53] dlecan commented on #106
@clovnrian it's an improvement, thank you.
But not enough to avoid errors during updates

Quotas could be different between GET and POST/PUT? (higher with updates)

@invidian interesting, have you opened a PR? I can't find one to comment

[2021-08-16 10:13] clovnrian commented on #106
Our API allows only POST requests and we are not making difference between "GET" type of requests and requests which make some insert/update.

[2021-08-16 10:59] kokarn commented on #106
This issue is a huge roadblock for us I'm afraid. Because of the sheer number of requests being run for us during any sort of `terraform plan` stage just to check the current status it quickly becomes unworkable.

Say we have 20-30 sites we monitor.
If 3 people are working, we have to be on the 100 plan just to run `terraform plan`

If we employ 2 more people we need to upgrade without adding any

[2021-08-16 11:07] adrianchifor commented on #106
Experiencing this as well for 15 monitors, the 10 req/min makes automation completely impossible @clovnrian

[2021-08-16 12:41] clovnrian commented on #106
OK guys, I can see it's real issue for you, so let find some solution to make most of you happy.

I am not familiar with Terraform and this plugin, so can somebody please explain me how it's working? Ideally with some real world use-cases. I can assure you we don't want to sabotage this plugin in any way and we will try find solution for you.

@kokarn as I wrote above I am not familiar with Terraf

[2021-08-16 13:07] kokarn commented on #106
You are correct, it's a tool that manages infrastructure.

In larger teams & setups infrastructure might change in many different ways, so any time you propose a change you validate that towards the infrastructure in general.

That includes validation that the "state" of the infrastructure you have locally matches the live infrastructure.

This includes in our case 1000's of different pieces, ever

[2021-08-16 13:48] clovnrian commented on #106
Thanks for explanation @kokarn.

This use case make sense and I can imagine other users have similar one. Also I totally get your frustration, and I am sorry.  From what I read in Terraform documentation, this is something which is probably impossible or very hard to fix in plugin code (if you don't want to add some delay after every request).

We will definitely look in to it and try to find solu

[2021-08-18 08:52] clovnrian commented on #106
Hello guys, we are still debating about the API rate limit, but after 2 minutes googling I found article about [rate limiting in HTTP client](https://medium.com/mflow/rate-limiting-in-golang-http-client-a22fba15861a).

I am not Golang developer, but at first look I think it can be easily integrated to this library. Yes, it will probably increase the execution time of terraform scrips, but it shoul

[2021-08-28 22:39] TrueTechy commented on #103
So the docs on publishing your own provider turned out to be really well done, so good job hashicorp. I've taken a fork of the repository and published master as v0.5.2 which you can find at https://registry.terraform.io/providers/TrueTechy/uptimerobot Hopefully this works for others, it worked fine on ours.

I did have to do a `terraform state replace-provider` for it to work on ours, but if that

[2021-08-30 14:31] johanfleury commented on #103
@TrueTechy do you plan on maintaining this fork?

[2021-08-30 19:18] TrueTechy commented on #103
My main goal here was really to allow people to use the latest fixes in their transform projects. I'm more than happy to update the fork in line with this repo as releases are made. As for improvements, I've got minimal go experience at best so I'm not sure how useful I'd be at making any changes of my own to it.

[2021-09-24 13:58] Mehdi-Mameri opened #112 "Error when create monitor keyword type"
Hi,

Thanks for providing a module for uptimerobot, i have this error log when i want to create monitor type "keyword" :

[code]

there is my configuration files :
main.tf

`module "projet" {
  source                          = "../modules/uptime-robot"
  monitor                         = var.projet_monitor
  alert_contact               = uptimerobot_alert_contact.it
  status_page

[2021-09-27 12:39] Mehdi-Mameri commented on #112
Do you think its a syntax error on my side ? @louy

[2021-09-27 12:40] jerome-morgado commented on #112
Hello,

I have the same issue.
How to implement Keyword checks ?

Regards

[2021-09-27 12:48] louy commented on #112
This depends on what you have in your module, which you haven't shared.

Example code from the tests, which currently work:
https://github.com/louy/terraform-provider-uptimerobot/blob/c473457e5f35301b5bbe9c40284b314451810139/uptimerobot/resource_uptimerobot_monitor_test.go#L64-L120

[code]

[2021-09-27 12:49] louy commented on #112
I would assume you forgot to pass `keyword_type` in your `modules/uptime-robot` file

[2021-09-27 14:01] Mehdi-Mameri commented on #112
thanks I do some tests right now !!!

[2021-09-27 15:18] Mehdi-Mameri commented on #112
you're awesome ! it works.
Thanks again for your work ! and you can close this Issues

[2021-09-28 07:38] #112 closed, assigned to nobody

[2021-11-02 20:06] mnaser commented on #103
Hi @louy -- I understand that you might have been pretty busy with other things at hand, but do you think you'd be able to push out a release (or perhaps some of the previous contributors could get access to be able to create releases?)

It's a super useful utility for us and we'd love to be able to help at least maintain it by publishing new releases with the more recent fixes, reviewing code cha

[2021-11-04 18:53] mnaser commented on #103
Since there has been a lack of activity for the past few months and the lack of `darwin/amd64` is breaking our workflows, we've gone ahead and forked the project here:

https://github.com/vexxhost/terraform-provider-uptimerobot

We're happy to continue to maintain the project, we've done a few things such as refactor for new docs format, and make it more in-line with the scaffolding repository, fi

[2021-11-10 19:26] vatima2016 commented on #107
Question: has anybody tried to integrate with PagerDuty simply using type=webhook?

[2021-11-10 20:00] debunn commented on #107
Update:  the UptimeRobot service's API now supports PagerDuty (as well as other new types of) AlertContact values.  So this should be possible to implement now!

[2021-12-22 16:12] ryojsb opened #115 "Couldn't add monitor with terraform"
I've already defined 2 monitors manually.
And I wanted to define new 2 monitors with terraform.
However error occurred as below.

[code]

In addition to it, Slack alert resource was also denied with same error.
However in slack alert I deleted existing slack alert and applied new one.
Then It works well.

Can't this plugin handle multiple same resources like couple of monitors or stuff like that?

[2022-01-18 16:47] c33s opened #116 "Add new resource "uptimerobot_alert_contact_assignment""
currently the mapping of an `alert_contact` to a monitor is a little bit unhandy as it is defined inside of the monitor. this leads also to problems like https://github.com/louy/terraform-provider-uptimerobot/pull/97#issuecomment-916059540

my suggestion would be to add a separate resource "uptimerobot_alert_contact_assignment" which would also allow the easy use of the terraform `each` functional

[2022-01-26 22:58] #115 closed, assigned to nobody

[2022-02-28 17:37] cuttingedge1109 opened #117 "Error: The terraform-provider-uptimerobot plugin crashed!"
I am facing this error sometimes during `terraform plan`.
[code]
Can you check this please?
Thanks.

[2022-03-23 14:36] rogerioefonseca commented on #65
Hmm, this enhancement would be very helpful Indeed.

[2022-07-14 21:42] solarkennedy opened #120 "Archive in favor of active fork?"
@vexxhost has been maintaining this fork:

https://github.com/vexxhost/terraform-provider-uptimerobot

If this repo is no longer being maintained, would you accept a final PR to note that it is deprecated in favor of the vexxhost fork, so that issues and PRs go there instead?

If not, would you be ok with allowing other contributors who can merge and review PRs and make releases?

[2022-08-13 14:59] OksanaH opened #121 "SSL Monitoring"
Is it possible to set Monitoring for SSL errors/SSL expiry using this module?

[2022-08-24 07:42] cuttingedge1109 commented on #117
@louy any idea on this issue?
This provider doesn't work anymore.